/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) {
    .single_item {
        width: 100%;
        margin: 0px;
        margin-top: 70px;
    }
    body::before {
        top: 110%;
        clip-path: circle(30% at right 74%);
    }
 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 321px) and (max-width: 575.98px) {
    .single_item {
        width: 100%;    
        margin: 0px;
        margin-top: 70px;
 
    }
    body::before {
        top: 110%;
        clip-path: circle(30% at right 74%);
    }
 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
/* Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
 
}
